@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
